
/* Header Style Start */

.site-header {
  background-color: #002244;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.header-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding-top: 33px;
  padding-bottom: 32.53px;
}

.header-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 15px;
}
.main-menu {
	margin-top: 36px;
}
.main-menu > ul {
  column-gap: 50px;
}
.main-menu > ul > li {
  position: relative;
  display: block;
}
.main-menu > ul > li > a {
	text-decoration: none;
	display: block;
	font-size: 1rem;
	color: var(--cr-white);
	text-transform: uppercase;
	font-weight: 700;
  line-height: 162.5%;
	font-family: var(--font-heading);
  transition: 0.3s all ease;
}
.main-menu > ul > li:hover > a {
  color: var(--cr-primary);
}
.menu-trigger{
    display: none;
}
    .hamburger-menu {
        display: none;
    }
.header-socials ul li a {
  width: 36px;
  height: 36px;
  border: 2.5px solid var(--cr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s all ease;
  color: var(--cr-white);
}
.header-socials ul li a:hover {
  color: var(--cr-primary);
  background: rgb(255, 255, 255, 0.95)
}

@media only screen and (max-width:1199px) {
.main-menu > ul {
	column-gap: 18px;
}
.main-menu > ul > li > a {
	font-size: 0.75rem;
}
.site-btn {
	font-size: 0.875rem;
	padding: 17px 30px;
}
.header-socials ul li a {
	width: 34px;
	height: 34px;
}
.site-branding {
	max-width: 450px;
}
}

@media only screen and (max-width: 991px){
    .site-branding {
      max-width: 450px;
    }
    .main-menu,
    .header-btn{
        display: none;
    }
    .menu-trigger {
        display: flex;
        width: 40px;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }
    .menu-trigger span {
        display: block;
        height: 5px;
        width: 100%;
        background: var(--cr-white);
    }
    .hamburger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 40px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        z-index: 0;

        display: block;
    }
    .hamburger-menu.isOpen{
        opacity: 1;
        visibility: visible;
        z-index: 999;
 }
}

/* Header Style End */

