
/* Header Style Start */

.site-header {
  background-color: #002244;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.header-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding-top: 33px;
  padding-bottom: 32.53px;
}

.header-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 15px;
}
.main-menu {
	margin-top: 36px;
}
.main-menu > ul {
  column-gap: 50px;
}
.main-menu > ul > li {
  position: relative;
  display: block;
}
.main-menu > ul > li > a {
	text-decoration: none;
	display: block;
	font-size: 1rem;
	color: var(--cr-white);
	text-transform: uppercase;
	font-weight: 700;
  line-height: 162.5%;
	font-family: var(--font-heading);
  transition: 0.3s all ease;
}
.main-menu > ul > li:hover > a {
  color: var(--cr-primary);
}
.menu-trigger{
    display: none;
    z-index: 1000;
}
    .hamburger-menu {
        display: none;
        z-index: 991;
    }
.header-socials ul li a {
  width: 36px;
  height: 36px;
  border: 2.5px solid var(--cr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s all ease;
  color: var(--cr-white);
}
.header-socials ul li a:hover {
  color: var(--cr-primary);
  background: rgb(255, 255, 255, 0.95)
}
@media only screen and (max-width:1400px) {
.main-menu > ul {
	column-gap: 18px;
}
}
@media only screen and (max-width:1199px) {
.main-menu > ul {
	column-gap: 18px;
}
.main-menu > ul > li > a {
	font-size: 0.75rem;
}
.site-btn {
	font-size: 0.875rem;
	padding: 17px 30px;
}
.header-socials ul li a {
	width: 34px;
	height: 34px;
}
.site-branding {
	max-width: 450px;
}
}
@media only screen and (max-width: 991px){
  ul {
	list-style: none;
}
   .site-btn {
	  padding: 14px 30px;
  }
.site-branding {
	max-width: 260px;
 } 
    .menu-trigger {
        display: flex;
        width: 40px;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }
    .menu-trigger span {
        display: block;
        height: 5px;
        width: 100%;
        background: var(--cr-white);
    }
    .hamburger-menu {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--cr-secondary);
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      padding-top: 100px;
      padding-left: 50px;
    }
    .hamburger-menu.isOpen{
        opacity: 1;
        visibility: visible;
        z-index: 999;
 }
    .mobile-menu ul li {
      margin-bottom: 15px;
    }
    .mobile-menu ul li a {
        color: var(--cr-white);
      }
    .header-socials ul {
      display: flex;
      column-gap: 20px;
    }
    .hamburger-menu .header-btn {
      margin-top: 30px;
    }
}
@media only screen and (max-width: 767px) {
.site-btn {
	font-size: 0.75rem;
	padding: 16px 28px;
}
}
/* Header Style End */
.hero-section {
	background: rgba(66, 158, 166, 0.1);
	padding-top: 93px;
	padding-bottom: 327px;
}
.hero-contents-wrapper {
	text-align: center;
}
.hero-contents-wrapper .sec_subtitle {
	text-transform: initial;
}
.sec_subtitle {
	color: var(--cr-primary);
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 150%;
	font-family: var(--font-heading);
  display: block;
  text-transform: uppercase;
}
.hero-contents-wrapper h1 {
	color: var(--cr-heading-black);
}
.hero-contents-wrapper p {
	max-width: 892px;
	margin-left: auto;
	margin-right: auto;
	line-height: 144.444%;
}
/* Hero Css End */

.cr-video-wrapper {
	position: relative;
	margin-top: -250px;
}
.cr-video-wrapper #myVideo {
	width: 100%;
	border-radius: 30px;
	height: 571px;
}
@media only screen and (max-width:991px) {
.hero-section {
	padding-top: 70px;
	padding-bottom: 310px;
}
.sec_subtitle {
	font-size: 1rem;
}

.cr-video-wrapper #myVideo {
	height: 400px;
}
}
@media only screen and (max-width:767px) {
.hero-section {
	padding-top: 50px;
	padding-bottom: 310px;
}
.sec_subtitle {
	font-size: 0.875rem;
	margin-bottom: 15px;
}
.cr-video-wrapper {
	margin-top: -270px;
}
.cr-video-wrapper #myVideo {
	height: 400px;
}
}
@media only screen and (max-width:400px) {
 .cr-video-wrapper #myVideo{
  height: 300px;
 }
}
/* Cr Video Csa End  */


.over-ons-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 116px;
}
.over-ons-left-contents {
  position: relative;
}
.over-ons-thumb {
	background-color: var(--cr-primary);
	color: var(--cr-white);
	border-radius: 20px;
	padding: 30px;
	width: 395px;
	min-height: 245px;
	position: absolute;
	right: -36px;
	bottom: 36px;
}
.over-ons-thumb p {
  font-size: 1rem;
  line-height: 162.5%;
}
.over-ons-author {
  display: flex;
  column-gap: 15px;
}
.over-ons-author h5 {
  font-size: 1.25rem;
  color: var(--cr-white);
}
.over-ons-author h5 span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 6px;
}
.over-ons-img img {
	width: 100%;
	height: 577px;
  border-radius: 20px;
}
.ons-btn-wrap {
	display: flex;
	column-gap: 35px;
	margin-top: 47px;
}
.contact-info p a {
	display: block;
	font-size: 20px;
	text-decoration: none;
	font-weight: 600;
	color: var(--cr-secondary);
	font-family: var(--font-heading);
	line-height: 150%;
  transition: 0.3s all ease;
}
.over-ons-author h5 {
	margin-bottom: 0;
}
.contact-info p a:hover {
  color: var(--cr-primary);
}
.contact-info {
	display: flex;
	column-gap: 10px;
}
.contact-info span {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--cr-primary);
}
.contact-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
}
.counter-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
}

.counter-item h2 span {
	display: block;
	font-size: 1.125rem;
	color: var(--cr-text-color);
	font-weight: 500;
	margin-top: -10px;
}
.counter-item h2 {
	margin-bottom: 0;
}
.over-ons-img img {
	border-radius: 20px;
}
.client-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid var(--cr-white);
}
@media only screen and (max-width:1300px) {
.ons-btn-wrap {
	margin-top: 32px;
  display: block;
}
.contact-info {
	margin-top: 30px;
}
}
@media only screen and (max-width:1199px) {
.over-ons-inner {
	column-gap: 75px;
}
.counter-item h2 span {
	font-size: 1rem;
}
}
@media only screen and (max-width:991px) {
body {
	font-size: 1rem;
	line-height: 1.425rem;
}
.over-ons-inner {
	grid-template-columns: 1fr;
	row-gap: 100px;
}
.over-ons-img img {
	object-fit: cover;
	border-radius: 30px;
}
.over-ons-thumb {
	right: 0;
	bottom: -60px;
}
.counter-wrap {
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: 50px;
  flex-wrap: wrap;
}
}
@media only screen and (max-width:767px) {
.section-title h2 br {
	display: none;
}
.counter-wrap {
	column-gap: 30px;
	row-gap: 20px;
}
.over-ons-img img {
	width: 100%;
	height: 400px;
	border-radius: 20px;
}
.over-ons-thumb {
	width: 100%;
}
.over-ons-author h5 {
	font-size: 1.1rem;
}
.over-ons-author h5 span {
	font-size: 0.875rem;
}
.counter-item h2 span {
	font-size: 0.875rem;
	margin-top: 8px;
}
}
/* Over Ons Css End */

.timeline-wrapper {
  position: relative;
  counter-reset: step;
  margin-top: 58px;
}
.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: rgb(0, 34, 68,0.3);
  transform: translateX(-50%);
}
.timeline-item {
  position: relative;
  counter-increment: step;
}
.timeline-item:not(:last-child) {
  margin-bottom: 58px;
}
.timeline-item::before {
	content: counter(step, decimal-leading-zero);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 48px;
	height: 46.54px;
	background-color: var(--cr-primary);
	color: var(--cr-white);
	border-radius: 50%;
	line-height: 36px;
	font-weight: 600;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.timeline-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
  align-items: center;
}
.timeline-content h4 {
	margin-bottom: 19px;
  font-weight: 600;
}
.box-btn {
  font-size: 1rem;
  color: var(--cr-secondary);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
  text-decoration: underline;
  transition: 0.3s all ease;
}
.box-btn:hover {
  color: var(--cr-primary);
} 
/* odd working → image left */
.timeline-item:nth-child(odd) .timeline-image {
  order: 1;
}
.timeline-item:nth-child(odd) .timeline-content {
  order: 2;
}

/* even working → image right */
.timeline-item:nth-child(even) .timeline-image {
  order: 2;
}
.timeline-item:nth-child(even) .timeline-content {
  order: 1;
  text-align: left;
}
/* odd working → image left */
.timeline-item:nth-child(odd) .timeline-image {
  order: 1;
}
.timeline-item:nth-child(odd) .timeline-content {
  order: 2;
}

/* even working → image right */
.timeline-item:nth-child(even) .timeline-image {
  order: 2;
}
.timeline-item:nth-child(even) .timeline-content {
  order: 1;
  text-align: left;
}

/* image style */
.timeline-image img {
  width: 100%;
  border-radius: 16px;
}
@media only screen and (max-width:767px) {
.timeline-image {
	margin-top: 20px;
}
.box-btn {
	font-size: 0.938rem;
	margin-top: 20px;
}
  .timeline-wrapper::before {
 	 right: 7px;
   left: auto;
}
  .timeline-item::before {
    left: 0;
    transform: none;
  }
.timeline-inner {
   grid-template-columns: 1fr;
 	 gap: 20px;
	 padding-right: 50px;
}
  .timeline-content {
    text-align: left !important;
  }
.timeline-item::before {
	right: -15px;
	left: auto;
}
.timeline-item:nth-child(2n+1) .timeline-image {
	order: 2;
}
.timeline-item:nth-child(2n+1) .timeline-content {
	order: 1;
}
}
@media only screen and (max-width:991px) {
.timeline-content h4 {
	font-size: 1.425rem;
}
.box-btn {
	font-size: 0.875rem;
}
}
@media only screen and (max-width:767px) {
.timeline-content h4 {
	font-size: 1.25rem;
}
}
/* Timeline Css End */


.our-project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our-slider-image {
  position: relative;
}
.our-slider-image img {
	width: 100%;
}
.plus-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 70px;
	height: 70px;
	background-color: var(--cr-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}
.our-slider-image::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(66, 158, 166, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s all ease;
}
.our-slider-image:hover.our-slider-image::after {
	opacity: 1;
	visibility: visible;
}
.our-slider-image:hover
.plus-icon {
  opacity: 1;
  visibility: visible;
} 
.slider-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slide-btn {
  color: var(--cr-text-color);
  font-size: 0.875rem;
  display: inline-block;
  font-weight: 500;
  border: 1px solid #D8DDE1;
  line-height: 1.625rem;
  padding: 10px 22px;
  border-radius: 40px;
  text-transform: capitalize;
  transition: 0.3s all ease;
}
.slide-btn:hover {
  color: var(--cr-white);
  background-color: var(--cr-primary);
}

.our-slider-active .slick-slide {
    margin-right:15px;
    margin-left:15px;
}
.our-slider-active .slick-dots li button::before {
	font-size: 0;
}
.our-slider-active .slick-dots {
	position: absolute;
	left: 50%;
  bottom: -60px;
	transform: translateX(-50%);
    list-style: none;
  }
.our-slider-active .slick-dots li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin: 0 12px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	background-color: var(--cr-primary);
  transition: 0.3s all ease;
}
 .our-slider-active .slick-dots li button {
	outline: none;
	width: 35px;
	height: 35px;
	border: 2px solid transparent;
	border-radius: 50%;
	font-size: 0;
	margin-top: -10px;
	margin-left: -11px;
} 
.our-slider-active .slick-dots .slick-active button {
  border-color: var(--cr-primary); 
}

@media only screen and (max-width:1199px) {
.our-project-top {
	margin-bottom: 40px;
}
}
@media only screen and (max-width:991px) {
.our-project-top {
	margin-bottom: 40px;
}
.slider-bottom {
	flex-direction: column;
}
.plus-icon {
	width: 50px;
	height: 50px;
}
.slider-bottom h4 {
	margin-bottom: 18px;
  font-size: 1.3rem;
}
 }
@media only screen and (max-width:767px) {
.our-slider-active .slick-slide {
    margin-right:10px;
    margin-left:10px;
}
}
/* Our Project Css End */
 

.blog-news-wrapper {
  padding-bottom: 200px;
  background-color: rgb(66, 158, 166, 0.1);
}
.blog-news-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.news-item 
.news-date {
  margin-top: 32px;
  display: block;
  font-size: 1rem;
  color: var(--cr-text-color);
  font-weight: 600;
  line-height: 162.5%;
}
.news-title {
  margin-bottom: 0;
  margin-top: 21px;
}
.news-item .box-btn {
  margin-top: 10px;
  display: block;
}
.news-item {
  display: block;
}
.news-title a {
  color: var(--cr-secondary);
  line-height: 146.667%;
  display: block;
}
article .box-btn {
	margin-top: 25px;
}
@media only screen and (max-width:1199px)  {
.news-title a {
	font-size: 1.375rem;
}
}
@media only screen and (max-width:991px) {
.blog-news-inner {
	grid-template-columns: 1fr 1fr;
	row-gap: 40px;
}
}
@media only screen and (max-width:767px) {
.blog-news-inner {
	grid-template-columns: 1fr;
	row-gap: 40px;
}
.news-title a {
	font-size: 1.2rem;
}
article .box-btn {
	margin-top: 15px;
}
.news-item .news-date {
	margin-top: 18px;
	font-size: 0.938rem;
}
.news-title {
	margin-top: 12px;
}
}

.newslatter-wrap {
	position: relative;
	width: 100%;
}
.newslatter-inner {
	background-color: var(--cr-primary);
	padding: 65px 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;
	top: -120px;
}
.newslatter-content {
  max-width: 528px;
}
.newslatter-content span {
	display: block;
	color: var(--cr-white);
	margin-bottom: 20px;
	font-family: var(--font-heading);
}
.newslatter-content h3 {
  color: var(--cr-white);
  font-weight: 700;
  margin-bottom: 0;
}
.newslatter-btn a {
	background-color: var(--cr-secondary);
}
@media only screen and (max-width: 991px) {
.newslatter-inner {
	padding: 45px 40px;
	row-gap: 20px;
}
}

@media only screen and (max-width: 767px) {
.newslatter-inner {
	padding: 45px 40px;
}
.newslatter-content span {
	margin-bottom: 18px;
}
.newslatter-btn {
	margin-top: 0;
}
.newslatter-inner {
	padding: 40px 35px;
	row-gap: 20px;
  top: -150px;
}
}




.footer-wrapper {
  padding-top: 214px;
  background-color: var(--cr-secondary);
}
.footer-inner {
  /*! display: grid; */
  /*! grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-box {
  max-width: 313px;
}
.footer-box p {
  color: var(--cr-white);
  font-size: 1rem;
  line-height: 162.5%;
  margin-top: 30px;
}
.footer-box ul {
  list-style: none;
}
.widget-title {
  color: var(--cr-white);
  font-size: 1.25rem;
  line-height: 170%;
}
.footer-link li:not(:last-child) {
  margin-bottom: 25px;
}
.footer-link li a {
  color: var(--cr-white);
  display: inline-block;
  font-size: 1rem;
}
.footer-info li {
  margin-bottom: 28px;
  color: var(--cr-white);
  font-size: 1rem;
}
.footer-box a {
  transition: 0.3s all ease;
}
.footer-box a:hover {
  color: var(--cr-primary);
}
.footer-info li a {
  color: var(--cr-white);
}
.footer-box span {
	width: 30px;
	height: 30px;
	border: 1px solid #d8dde14d;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}
.footer-info li {
  display: flex;
  column-gap: 9px;
}
.footer-copyright {
  background-color: var(--cr-heading-black);
}
.copyright-inline p {
  color: var(--cr-white);
  font-size: 1rem;
  line-height: 162.5%;
}
.copyright-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.copyright-link li a {
  color: var(--cr-white);
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all ease;
}
.copyright-link {
  list-style: none;
}
.copyright-link li a:hover {
  color: var(--cr-primary);
}





@media only screen and (max-width:767px) {
.footer-wrapper {
	padding-top: 150px;
}
.footer-logo {
	max-width: 190px;
	margin-top: 22px;
}
.footer-box p {
	font-size: 0.938rem;
	margin-top: 18px;
}
.footer-inner {
	row-gap: 25px;
}
.widget-title {
	margin-bottom: 0;
}
.footer-link li a {
	font-size: 0.938rem;
}
.footer-link li:not(:last-child) {
	margin-bottom: 20px;
}
.footer-info li {
	font-size: 0.938rem;
}
.copyright-inline p {
	font-size: 0.938rem;
}
.copyright-link li a {
	font-size: 0.938rem;
}
.copyright-inline {
	flex-direction: column;
	justify-content: center;
}


}